body{
    font-family: 'Open Sans', sans-serif;
    font-size:14px;
    background-color: #FAFAFA;
}

main,
footer{
    max-width: 900px;
}

main{
    margin-top: 60px;
}
@keyframes fadeMain{
	0%{
		transform: none;
		opacity: 0;
	}
	50%{
		transform: translateX(50px);
	}
	100%{
		transform: translateY(70px);
		opacity: 1;
	}
}

a {
    color:#003569;
}

input:focus{
    outline: none;
}